[submodule "database"]
	path = database
	url = git@github.com:AngelEsquit/database.git
[submodule "software-backend"]
	path = software-backend
	url = git@github.com:TonitoMC/software-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Kapiven/frontend.git
