services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: software-frontend-dev
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app:Z
      - /app/node_modules

  backend:
    build:
      context: ./software-backend
      dockerfile: Dockerfile.dev
    container_name: software-backend-dev
    ports:
      - "4000:4000"
    volumes:
      - ./software-backend:/app:Z
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgres://postgres:admin123@db:5432/oftalcrm?sslmode=disable
      - JWT_SECRET=OkM8ombEEyIkpqmIkMYg48DixlX8xthGFXmjmdw1bf8
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    container_name: software-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=oftalcrm
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d oftalcrm"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
